@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit;
}

/* || VARIABLES */
:root {
  /* FONTS */
  --FF: "Nanum Gothic", sans-serif;
  --FS: clamp(0.5rem, 2.2vh, 2rem);

  /* COLORS */
  --INTRO-BG: #333;

  --BGCOLOR: #fbfbf2;
  --HEADER-BG: #cfd2cd;
  --SECTION-BG: #e5e6e4;
  --BORDER-COLOR: #a6a2a2;
  --TEXT-COLOR: #473f40;

  /* --BORDER-COLOR: rgb(214, 210, 255); */

  --LINK-COLOR: rgb(51, 51, 51);
  --LINK-HOVER: rgba(51, 51, 51, 0.8);
  --LINK-ACTIVE: rgb(66, 0, 27);

  /* MARGINS */
  --MARGIN-SIDE: 1.8rem;
  --MARGIN: 1rem;

  /* PADDING */
  --PADDING: 0.5rem;
  --PADDING-SIDE: 2rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --BGCOLOR: #000;
    --BODY-BGCOLOR: #333;
    --HEADER-BG: rgb(18, 0, 36);
    --BORDER-COLOR: whitesmoke;
    --BUTTON-COLOR: #000;
    --FONT-COLOR: whitesmoke;
    --HIGHLIGHT-COLOR: whitesmoke;
    --LINK-ACTIVE: rgb(252, 200, 103);
    --LINK-COLOR: whitesmoke;
    --LINK-HOVER: orange;
  }
} */

/* || UTILITY CLASSES */
.no-scroll {
  overflow: hidden;
}

/* || GENERAL STYLES */

html {
  scroll-behavior: smooth;
  font: var(--FS) var(--FF);
  background-color: var(--BGCOLOR);
}

body {
  display: flex;
  flex-direction: column;
  /* display: grid;
  grid-template-rows: 1fr 8fr 15px; */
  color: var(--TEXT-COLOR);

  font-weight: 400;
  height: 100vh;
}

a:any-link {
  color: #333;
  text-decoration: none;
}

a:hover,
a:focus-visible {
  color: var(--LINK-HOVER);
}

a:active {
  color: var(--LINK-ACTIVE);
}

#home,
#about,
#contact {
  scroll-margin-top: 13vh;
}

/* || SPLASH SCREEN */

.intro {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--INTRO-BG);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.intro__image {
  width: 150px;
  height: auto;
  opacity: 0;
}

.intro__image.active {
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.intro__image.fade {
  opacity: 0;
  transition: ease-in-out 0.5s;
}

/* || HEADER */

.header {
  /* grid-area: header; */
  background-color: var(--HEADER-BG);
  /* grid-row: 1; */
  /* margin: 0 var(--MARGIN-SIDE); */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  display: grid;
  align-items: center;
  grid-template-columns: 100px 2fr 1fr;
  gap: 2rem;
  border-bottom: 1px solid var(--BORDER-COLOR);
  padding: var(--PADDING) var(--MARGIN-SIDE);
}

.header__img {
  width: 100px;
}

.header__h1 {
  font-size: 2.8rem;
  font-weight: 100;
}

/* .header__nav {
  display: inline-flex;
} */

.header__ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.main {
  position: relative;
  margin-top: 5rem;
  width: 100%;
}
/* || SECTION STYLE */
.main__section {
  margin: var(--MARGIN) var(--MARGIN-SIDE);
  background-color: var(--SECTION-BG);
  border-radius: 20px;
  height: 83vh;
  padding: var(--PADDING);
}

#home {
  padding: var(--PADDING) var(--PADDING-SIDE);
}

.back2top {
  height: 400px;
}

/* || FOOTER */
.footer {
  background-color: var(--BGCOLOR);
  position: fixed;
  height: fit-content;
  bottom: 0;
  width: 100%;
  text-align: start;
  padding: 0.2rem var(--MARGIN-SIDE);
}

.footer p {
  font-size: 0.8rem;
}
