@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit;
}

/* || VARIABLES */
:root {
  /* FONTS */
  --FF: "Nanum Gothic", sans-serif;
  --FS: 1.5rem;

  /* COLORS */
  --INTRO-BG: #d1bb9e;

  --BGCOLOR: #fbfbf2;
  --HEADER-BG: #d1bb9e;
  /* --HEADER-BG: #a79277; */
  --SECTION-BG: #ead8c0;
  --BORDER-COLOR: #a6a2a2;
  --TEXT-COLOR: #473f40;

  --BUTTON-COLOR: #656762;
  --BUTTON-ACTIVE: #38402c;

  /* --BORDER-COLOR: rgb(214, 210, 255); */

  --LINK-COLOR: rgb(51, 51, 51);
  --LINK-HOVER: rgba(51, 51, 51, 0.8);
  --LINK-ACTIVE: rgb(66, 0, 27);

  /* MARGINS */
  --MARGIN-SIDE: 1.8rem;
  --MARGIN: 1rem;

  /* PADDING */
  --PADDING: 0.5rem;
  --PADDING-SIDE: 2rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --BGCOLOR: #000;
    --BODY-BGCOLOR: #333;
    --HEADER-BG: rgb(18, 0, 36);
    --BORDER-COLOR: whitesmoke;
    --BUTTON-COLOR: #000;
    --FONT-COLOR: whitesmoke;
    --HIGHLIGHT-COLOR: whitesmoke;
    --LINK-ACTIVE: rgb(252, 200, 103);
    --LINK-COLOR: whitesmoke;
    --LINK-HOVER: orange;
  }
} */

/* || UTILITY CLASSES */
.no-scroll {
  overflow: hidden;
}

/* || GENERAL STYLES */

html {
  scroll-behavior: smooth;
  font: var(--FS) var(--FF);
  background-color: var(--BGCOLOR);
}

body {
  display: flex;
  flex-direction: column;
  /* display: grid;
  grid-template-rows: 1fr 8fr 15px; */
  color: var(--TEXT-COLOR);
  background-image: url(../img/background.png);
  background-size: cover;
  /* background-repeat: repeat-y; */
  font-weight: 400;
}

a:any-link {
  color: #333;
  text-decoration: none;
}

a:hover,
a:focus-visible {
  color: var(--LINK-HOVER);
}

a:active {
  color: var(--LINK-ACTIVE);
}

#home,
#about,
#contact {
  scroll-margin-top: 13vh;
}

/* || SPLASH SCREEN */

.intro {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--INTRO-BG);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.intro__image {
  width: 150px;
  height: auto;
  opacity: 0;
}

.intro__image.active {
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.intro__image.fade {
  opacity: 0;
  transition: ease-in-out 0.5s;
}

/* || HEADER */

.header {
  /* grid-area: header; */
  background-color: var(--HEADER-BG);
  /* grid-row: 1; */
  /* margin: 0 var(--MARGIN-SIDE); */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  display: grid;
  align-items: center;
  grid-template-columns: 100px 2fr 1fr;
  gap: 2rem;
  border-bottom: 1px solid var(--BORDER-COLOR);
  padding: var(--PADDING) var(--MARGIN-SIDE);
}

.header__img {
  width: 100px;
}

.header__h1 {
  font-size: 2.8rem;
  font-weight: 500;
}
/* 
.header__nav {
  border-radius: 5px;
  background-color: aqua;
} */

.header__ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.main {
  position: relative;
  margin-top: 5rem;
  width: 100%;
}
/* || SECTION STYLE */
.main__section {
  margin: var(--MARGIN) var(--MARGIN-SIDE);
  background-color: var(--SECTION-BG);
  border-radius: 20px;
  height: 83vh;
  padding: var(--PADDING);
}

#home {
  display: grid;
  grid-template-columns: 50% 30% 20%;
  align-items: center;
  /* gap: 50px; */
  padding: var(--PADDING) var(--PADDING-SIDE);
  max-width: 100%;
}

.home__video-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.home__video {
  width: 100%;
  border-radius: 15px;
}

.home__about-container {
  /* padding-top: 8rem; */
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--PADDING) var(--PADDING-SIDE);
  /* justify-content: space-around; */
}

.home__about-title {
  font-size: 4rem;
}

.home__cats-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.home__cats-container p {
  text-align: center;
}

.home__cats-img {
  width: 100%;
}
/* || ABOUT SECTION */

#about {
  display: grid;
  grid-template-rows: 1fr 8fr;
  align-items: center;
}

.about__h2 {
  text-align: center;
  font-size: 4rem;
}

.author {
}

/* || CONTACT SECTION */

#contact {
  display: grid;
  grid-template-rows: 1fr 8fr;
  align-items: center;
}

.contact__heading {
  text-align: center;
  font-size: 4rem;
}
.contact__form {
  max-width: 1000px;
  margin: auto; /* Center the form horizontally */
  padding: 20px;
  background-color: var(--SECTION-BG); /* Light gray background */
  border-radius: 5px;
}

/* Remove default fieldset styles */
.contact__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

/* Style the form paragraphs */
.contact__p {
  margin-bottom: 15px;
}

/* Style the labels */
.contact__label {
  display: block;
  margin-bottom: 5px;
  font-weight: lighter;
  color: #333;
}

/* Style the input fields */
.contact__input,
.contact__textarea {
  width: 100%; /* Full width */
  padding: 10px;
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 4px;
  box-sizing: border-box; /* Ensure padding doesn't affect total width */
  font-size: 16px;
  font-family: inherit;
}

.contact__textarea {
  resize: none;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

/* Style the buttons */
.contact__button {
  padding: 10px 20px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: var(--BUTTON-COLOR);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.contact__button:last-child {
  margin-right: 0; /* Remove right margin from the last button */
}

.contact__button:hover {
  background-color: var(--BUTTON-ACTIVE); /* Darker blue on hover */
}
/* || END OF PAGE */
.back2top {
  display: flex;
  justify-content: center;
  height: 100px;
}

/* || FOOTER */
.footer {
  background-color: var(--BGCOLOR);
  position: fixed;
  height: fit-content;
  bottom: 0;
  width: 100%;
  text-align: start;
  padding: 0.2rem var(--MARGIN-SIDE);
}

.footer p {
  font-size: 0.8rem;
}
