@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit;
}

/* || VARIABLES */
:root {
  /* FONTS */
  --FF: "Nanum Gothic", sans-serif;
  --FS: clamp(1rem, 2.2vh, 1.5rem);

  /* COLORS */
  --INTRO-BG: #333;
  --BGCOLOR: rgb(222, 222, 255);

  --BORDER-COLOR: rgb(210, 210, 255);

  --LINK-COLOR: rgb(51, 51, 51);
  --LINK-HOVER: rgba(51, 51, 51, 0.8);
  --LINK-ACTIVE: rgb(66, 0, 27);
}

/* || GENERAL STYLES */

html {
  scroll-behavior: smooth;
  font: var(--FS) var(--FF);
  background-color: var(--BGCOLOR);
}

body {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  height: 100vh;
}

a:any-link {
  color: #333;
  text-decoration: none;
}

a:hover,
a:focus-visible {
  color: var(--LINK-HOVER);
}

a:active {
  color: var(--LINK-ACTIVE);
}

/* || INTRO SCREEN */

/* #intro-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: all 1s ease-in-out;
}

#intro-image {
  position: absolute;
  width: 150px;
  height: 150px;
  transition: all 1s ease-in-out;
}

#intro-text {
  position: absolute;
  font-size: 1em;
  color: whitesmoke;
  transform: translateY(100px);
  transition: all 1s ease-in-out;
}

#main-content {
  display: none;
  padding: 20px;
}

.intro-hidden #intro-screen {
  top: -100%;
}

.intro-hidden #intro-text {
  transform: translateY(-50%);
}

.intro-hidden #intro-image {
  transform: translateY(-50%);
} */

/* || SPLASH SCREEN */

.intro {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--INTRO-BG);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.intro__image {
  width: 150px;
  height: auto;
  opacity: 0;
}

.intro__image.active {
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.intro__image.fade {
  opacity: 0;
  transition: ease-in-out 0.5s;
}

/* || HEADER */

.header {
  margin: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
  display: grid;
  align-items: center;
  grid-template-columns: 100px 2fr 1fr;
  gap: 2rem;
  border-bottom: 1px solid var(--BORDER-COLOR);
}

.header__img {
  width: 100px;
}

.header__h1 {
  letter-spacing: 0.1rem;
}

/* .header__nav {
  display: inline-flex;
} */

.header__ul {
  /* padding: var(--PADDING-TB) var(--PADDING-SIDE); */
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

/* || SECTION 1: HOME */
.home {
  height: 100vh;
}

/* || FOOTER */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
}
