@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit;
}

/* || VARIABLES */

/* locally imported font */
@font-face {
  font-family: AdamWarrenFont;
  src: url("/assets/font/adam-warren-pro.regular.ttf") format("truetype");
}

:root {
  /* colors */
  --BG-COLOR: #333;
  --TEXTBOX-BG: whitesmoke;

  /* padding */
  --PANEL-PADDING: 4rem;
  --TEXTBOX-PADDING: 1.5rem;

  /* font */
  --HEADING-FS: 5rem;
  --TEXTBOX-FS: 1.5rem;
}

html,
body {
  font-size: 1.2rem;
  font-family: AdamWarrenFont, "Bangers", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(30, 25, 30);
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/img/background.jpg), #111;
  background-size: repeat;
}

/* || GENERAL STYLES */

/* || INTRO SLIDE STYLES */

.title__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.title__h1 {
  font-size: var(--HEADING-FS);
  color: antiquewhite;
}

.title__h4 {
  font-size: 0.8rem;
  color: antiquewhite;
}

/* bobbing arrow */
.title__arrow-div {
  height: 200px;
  position: absolute;
  bottom: 0;
  width: 200px;
}

.title__arrow-div:hover {
  cursor: pointer;
}

@keyframes bouncing {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 0;
  }
}

.title__arrow {
  animation: bouncing 1s infinite ease-in-out;
  bottom: 0;
  display: block;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}

/* || PANEL STYLING */

/* .panel__odd {
  padding: var(--PANEL-PADDING);
  height: 300vh;
  width: 100%;
  background-color: blue;
} */
/* .panel__even { */
.panel {
  padding: 20px var(--PANEL-PADDING);
  height: 200vh;
  width: 100%;
  /* background-color: green; */
  align-items: center;
  margin: 100px 0;
}

.panel__container {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  /* background-color: orange; */
}

.panel__bg {
  /* max-width: 90%; */
  /* display: none; */
  margin: auto;
  width: 90%;
  height: 100vh;
}

/* PANEL 1 IMG STYLING */
.panel1__meteor {
  width: 300px;
  rotate: 30deg;
  display: block;
  z-index: 2;
  position: absolute;
  right: 100px;
  top: 20px;
}

/* PANEL 2 IMG STYLING */
.panel2__ship {
  width: 800px;
  z-index: 2;
  position: absolute;
  right: 20%;
  bottom: -40px;
}
.panel2__ship:hover {
  cursor: pointer;
}

.panel2__ship_open {
  display: none;
  width: 800px;
  z-index: 2;
  position: absolute;
  right: 20%;
  bottom: -40px;
}

/* PANEL 3 */
.panel3__alien-ship {
  position: absolute;
  bottom: -30px;
  width: 800px;
  left: 80px;
}
.panel__textbox3 {
  padding: var(--TEXTBOX-PADDING);
  font-size: var(--TEXTBOX-FS);
  display: block;
  background-color: var(--TEXTBOX-BG);
  position: absolute;
  bottom: -10px;
  right: 100px;
  border: solid 2px #333;
  /* left: 3rem; */
  width: 600px;
}

.panel3__alien1 {
  position: absolute;
  top: -30px;
  width: 400px;
  left: 80px;
}
.panel3__alien2 {
  position: absolute;
  top: 80px;
  width: 400px;
  right: 80px;
}

.panel3__alien3 {
  position: absolute;
  right: 15%;
  top: 15%;
}
.panel3__alien4 {
  width: 200px;
  position: absolute;
  left: 35%;
  top: 5%;
}

/* PANEL 4 */
.panel4__alien-sad {
  width: 650px;
  position: absolute;
  top: 0;
  left: 20%;
}
.panel4__alien-surprised {
  width: 650px;
  position: absolute;
  top: 0;
  left: 20%;
}

/* PANEL 5 */
.panel__textbox5 {
  padding: var(--TEXTBOX-PADDING);
  font-size: var(--TEXTBOX-FS);
  display: block;
  background-color: var(--TEXTBOX-BG);
  position: absolute;
  bottom: 50px;
  left: 100px;
  border: solid 2px #333;
  /* left: 3rem; */
  max-width: 1200px;
}

/* PANEL 6 */

.panel6__alien-happy {
  position: absolute;
  width: 700px;
  bottom: -30px;
  left: 30%;
}
.panel__textbox {
  padding: var(--TEXTBOX-PADDING);
  font-size: var(--TEXTBOX-FS);
  display: block;
  background-color: var(--TEXTBOX-BG);
  position: absolute;
  bottom: 100px;
  right: 100px;
  border: solid 2px #333;
  /* left: 3rem; */
  max-width: 400px;
}

.end__panel {
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  height: 100vh;
}
