/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit;
}

/* || FONT */

/* regular */
@font-face {
  font-family: "Eirene";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/font/EireneSans-Regular.woff2") format("woff2"),
    url("/assets/font/EireneSans-Regular.woff") format("woff"),
    url("/assets/font/EireneSans-Regular.otf") format("opentype");
}

/* bold */
@font-face {
  font-family: "Eirene";
  font-weight: 700;
  font-style: normal;
  src: url("/assets/font/EireneSans-Bold.woff2") format("woff2"),
    url("/assets/font/EireneSans-Bold.woff") format("woff"),
    url("/assets/font/EireneSans-Bold.otf") format("opentype");
}

/* || VARIABLES */

:root {
  /* FONTS */
  --FF: "Eirene", sans-serif;
  --FS: clamp(1rem, 2.2vh, 1.5rem);

  /* COLORS */
  --DARK-BG: #322d29;
  --RED-ACCENT: #72383d;
  --DARK-BEIGE: #ac9c8d;
  --MID-BEIGE: #d1c7bd;
  --LIGHT-GRAY: #d9d9d9;
  --LIGHT-BEIGE: #efe9e1;

  --HEADER-BGCOLOR: #efe9e129;
  --HEADER-COLOR: #fff;

  /* STANDARD PADDING */
  --PADDING: 1rem;

  /* MARGIN */
  --SECTION-MARGIN: 0 7rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --BGCOLOR-FADE: gray;
    --BGCOLOR: #000;
    --BODY-BGCOLOR: #333;
    --BORDER-COLOR: whitesmoke;
    --BUTTON-COLOR: #000;
    --FONT-COLOR: whitesmoke;
    --HEADER-COLOR: whitesmoke;
    --HERO-COLOR: #333;
    --HIGHLIGHT-COLOR: whitesmoke;
    --LINK-ACTIVE: rgb(252, 200, 103);
    --LINK-COLOR: whitesmoke;
    --LINK-HOVER: orange;
    --NAV-BGCOLOR: rgb(20, 20, 20);
  }
} */

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

/* || GENERAL STYLES */

html {
  scroll-behavior: smooth;
  font-size: var(--FS);
  font-family: var(--FF);
  background-color: var(--DARK-BG);
}

body {
  background-color: var(--DARK-BG);
  color: var(--LIGHT-BEIGE);
  min-height: 100vh;
  max-width: 100%;
}

p {
  line-height: 1.5;
}

section {
  min-height: 10vh;
}

ol,
ul {
  list-style-type: none;
}

h2 {
  font-size: 2.8rem;
  text-align: center;
  margin: 2rem 0;
}

/* || HEADER */

.header {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  position: fixed;
  height: 13vh;
  width: 100%;
  padding: var(--PADDING);
  z-index: 10;
}

.header__logo {
  height: 90px;
  width: 90px;
  background-color: var(--LIGHT-BEIGE);
  border-radius: 50%;
}

/* .header__nav {
  background-color: blue;
} */

.nav__list {
  display: flex;
  justify-content: space-evenly;
  padding: var(--PADDING);
}

.nav__list li {
  margin: 0 var(--PADDING);
  padding: 7px;
  float: left;
  max-width: 70px;
  overflow: hidden;
  max-height: 70px;
  background-color: var(--LIGHT-BEIGE);
  border-radius: 50%;
  display: flex; /* Center content vertically and horizontally */
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Ensures the image doesn't spill out */
}
.nav__list img {
  max-height: 50px;
  max-width: 50px;
  object-fit: contain;
}

/* Hamburger Menu */

label .menu {
  position: absolute;
  margin: var(--PADDING);
  right: 0;
  top: 0;
  z-index: 2;
  width: 70px;
  height: 70px;
  background: var(--LIGHT-BEIGE);
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 0 var(--LIGHT-BEIGE), 0 0 0 0 var(--LIGHT-BEIGE);
  cursor: pointer;
}

label .hamburger {
  position: absolute;
  top: 35px;
  right: 18px;
  width: 35px;
  height: 3px;
  background: var(--RED-ACCENT);
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: var(--RED-ACCENT);
}

label .hamburger:before {
  top: -10px;
}

label .hamburger:after {
  bottom: -10px;
}

label input {
  display: none;
}

label input:checked + .menu {
  box-shadow: 0 0 0 15vw var(--LIGHT-BEIGE), 0 0 0 50vh var(--LIGHT-BEIGE);
  border-radius: 10px;
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

label ul {
  z-index: 200;
  position: absolute;
  top: 15rem;
  right: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none; /* Disable interactions */
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

label input:checked + .menu + ul {
  opacity: 1;
  pointer-events: auto; /* Enable interactions when menu is open */
}

label a {
  margin-bottom: 1em;
  font-size: 3rem;
  font-weight: bold;
  text-align: right;
  display: block;
  color: var(--RED-ACCENT);
  text-decoration: none;
  pointer-events: none; /* Links should also respect the visibility state */
}

label input:checked + .menu + ul a {
  pointer-events: auto; /* Enable link interactions when menu is open */
}

/* //////////////// */
/* || MAIN SECTIONS */

/* || HOME */

.main__home {
  /* background: orange; */
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Wave Animation */

.wave-container {
  position: relative;
  min-width: 100%;
  overflow: hidden;
  z-index: 1;
}

#wave {
  animation: wave-oscillate 6s ease-in-out infinite;
}

#wave1 {
  animation: wave-oscillate 6s ease-in-out infinite;
  animation-delay: -2s;
}

@keyframes wave-oscillate {
  0% {
    transform: translateX(-5%);
  }
  50% {
    transform: translateX(-15%);
  }
  100% {
    transform: translateX(-5%);
  }
}

/* Text Styles */

.home__header1 {
  font-size: 6rem;
  font-weight: normal;
  color: var(--DARK-BEIGE);
  text-align: right;
  margin: var(--SECTION-MARGIN);
}

.home__header2,
.home__header2-loc {
  font-weight: normal;
  text-align: right;
  font-size: 2rem;
  margin: var(--SECTION-MARGIN);
}

.home__header2-loc {
  color: var(--MID-BEIGE);
}

.name {
  font-weight: bold;
  color: var(--LIGHT-BEIGE);
}

/* Design Elements */

/* .line {
  position: absolute;
  margin: var(--SECTION-MARGIN);
  left: 0;
  top: 70%;
  height: 65vh;
  width: 3px;
  background-color: var(--RED-ACCENT);
  display: none;
} */

.line-img {
  position: absolute;
  margin: var(--SECTION-MARGIN);
  left: 3.5rem;
  top: 70%;
  height: 80vh;
  z-index: 1;
}

/* vertical wavy line, maybe will incorporate */
/* .wavy {
  position: absolute;
  width: 70vh;
  height: 50px;
  overflow: hidden;
  border-radius: 50px;
  transform: rotate(270deg);
  bottom: 0;
  left: -100px;
}

.wavy::before {
  color: transparent;
  content: "aaaaaaaaaaaaaaaaaaaaaa";
  position: absolute;
  top: -42px;
  left: 0;
  font-size: 4em;
  text-decoration-style: wavy;
  text-decoration-color: var(--RED-ACCENT);
  text-decoration-line: underline;
  animation: animate-wavy 2s linear infinite;
}

@keyframes animate-wavy {
  0% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(-56px);
  }
} */

/* |||||||||||||||||||||||| */
/* || PROJECTS SECTION */

.main__projects {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: var(--SECTION-MARGIN);
  padding-top: 13vh;
  height: 113vh;
  z-index: 3;
}

.projects__h2 {
  text-align: right;
}

.projects__container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

#project-tile {
  display: flex;
  justify-content: left;
  align-items: top;
  text-align: left;
  padding: var(--PADDING);
  font-size: 1.5rem;
  border-radius: 10px;
  transition: transform 0.1s ease-in;
  border: solid;
  border-width: 3px;
  border-color: var(--MID-BEIGE);
  background-size: contain;
}

#project-tile:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.project1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/img/30mff-bg.png);
  background-size: cover;
  background-position: center;
  grid-area: 1 / 2 / 2 / 5;
}

.project2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/img/comic-bg.png);
  background-size: cover;
  background-position: center;
  grid-area: 1 / 5 / 2 / 8;
}

.project3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/img/audio-bg.png);
  background-size: cover;
  background-position: center;
  grid-area: 2 / 1 / 3 / 4;
}

.project4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/img/video-bg.png);
  background-size: cover;
  background-position: center;
  grid-area: 2 / 4 / 3 / 7;
}

.line-img2 {
  position: absolute;
  margin: var(--SECTION-MARGIN);
  right: 0;
  top: 70%;
  height: 80vh;
  z-index: 1;
}

.projects-button {
  position: relative;
  bottom: 0;
  margin: var(--PADDING) 0;
  padding: var(--PADDING);
  text-align: center;
  max-width: 400px;
  border: solid 2px var(--LIGHT-BEIGE);
  background-color: var(--RED-ACCENT);
  color: var(--LIGHT-GRAY);
  text-decoration: none;
  border-radius: 40px;
  font-weight: bold;
}

/* ///////////////////// */
/* || EXPERIENCE SECTION */

.main__experience {
  padding-top: 13vh;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: var(--SECTION-MARGIN);
  z-index: 2;
}

.experience__h2 {
  text-align: left;
}

.experience__container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  max-width: 85%;
}

#experience-tile {
  display: grid;
  grid-template-columns: 0.3fr 2.5fr 2fr;
  grid-template-rows: 0.5fr 0.5fr;
  grid-column-gap: var(--PADDING);
  grid-row-gap: 0px;
  padding: var(--PADDING);
  border: solid 2px;
  border-radius: 10px;
}

.experience__img {
  grid-area: 1 / 1 / 3 / 2;
  border-radius: 10px;
}

.experience__header {
  grid-area: 1 / 2 / 2 / 3;
}
.experience__location {
  grid-area: 2 / 2 / 3 / 3;
}

.experience__date {
  text-align: right;
  grid-area: 1 / 3 / 2 / 4;
}

.cv-button {
  margin: var(--PADDING) 0;
  padding: var(--PADDING);
  text-align: center;
  max-width: 200px;
  border: solid 2px var(--LIGHT-BEIGE);
  background-color: var(--RED-ACCENT);
  color: var(--LIGHT-GRAY);
  text-decoration: none;
  border-radius: 40px;
  font-weight: bold;
}

/* || ABOUT SECTION */

.main__about {
  position: relative;
  padding-top: 13vh;
  margin: var(--SECTION-MARGIN);
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.about__header {
  text-align: left;
}

.about__container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
}

.about__text {
  grid-area: 1 / 1 / 2 / 2;
  padding-right: var(--PADDING);
  text-align: left;
  font-size: 1.2rem;
}
.contact-button {
  margin: auto;
  border: 5px solid var(--RED-ACCENT);
  grid-area: 1 / 2 / 2 / 3;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--LIGHT-BEIGE);
  padding: var(--PADDING);
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  color: var(--RED-ACCENT);
  font-size: 1.2rem;
}

.contact-button img {
  padding-bottom: var(--PADDING);
  height: 120px;
  width: 120px;
}

.wave-container-end {
  transform: rotate(180deg);
}

/* || RESPONSIVE ELEMENTS */

/* Tablets */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  :root {
    --SECTION-MARGIN: 0 4rem;
  }

  /* Home Section */
  .home__header1 {
    font-size: 5rem;
    text-align: center;
  }
  .home__header2,
  .home__header2-loc {
    font-size: 1.8rem;
    text-align: center;
  }
  .line-img {
    display: none;
  }
  .line-img2 {
    display: none;
  }

  /* Projects Section */
  .projects__header {
    text-align: center;
  }

  .project1 {
    grid-area: 1 / 1 / 2 / 5;
  }
  .project2 {
    grid-area: 1 / 5 / 2 / 8;
  }
  .project3 {
    grid-area: 2 / 1 / 3 / 4;
  }
  .project4 {
    grid-area: 2 / 4 / 3 / 8;
  }
}

/* Smartphones (Portrait) */
@media screen and (max-width: 600px) {
  :root {
    --SECTION-MARGIN: 0 2rem;
  }

  /* Header */

  .nav__list li {
    margin: 0 0.5rem;
  }

  .nav__list img {
    max-width: 30px;
    max-height: 30px;
  }

  label a {
    font-size: 2rem;
  }

  /* Home Section */
  .main__home {
    height: 90vh;
  }
  .home__header1 {
    margin-top: 30vh;
    font-size: 3rem;
    text-align: center;
  }
  .home__header2,
  .home__header2-loc {
    font-size: 1.2rem;
    text-align: center;
  }
  .line-img {
    display: none;
  }
  .line-img2 {
    display: none;
  }

  /* Projects */

  .projects__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .project1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .project2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .project3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .project4 {
    grid-area: 4 / 1 / 5 / 2;
  }

  /* Experience */
  .experience__container {
    max-width: 100%;
  }

  .experience__img {
    /* display: none; */
    grid-area: 2 / 3 / 2 / 4;
    margin: auto 0 auto auto;
    max-width: 60px;
    border-radius: 10px;
  }

  .experience__header {
    grid-area: 1 / 1 / 2 / 3;
  }
  .experience__location {
    grid-area: 2 / 1 / 3 / 3;
  }

  .experience__date {
    font-size: 1rem;
    text-align: right;
    grid-area: 1 / 3 / 2 / 4;
  }

  /* About */
  .main__about {
    height: 100vh;
  }

  .about__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .about__text {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 1rem;
  }

  .contact-button {
    margin-top: 1rem;
    grid-area: 2 / 1 / 3 / 2;
  }
}
