@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202020;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

/* * {
	border: 1px dashed #fff;
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    "Ubuntu",
    ui-sans-serif,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    "Liberation Sans",
    sans-serif;
}

section {
  min-height: 100svh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
